# Prerequisites
*.d
.DS_Store
.cache/
.gitattributes
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore build folder
build/

# Ignore dependencies folder
dependencies/

# C++ specific
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.out

# Ignore Debug and Release directories
Debug/
Release/

# Ignore binaries, temporary files, etc.
*.sdf
*.suo
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.sbr
*.ilk
*.map
*.exp
*.gch
*.opensdf
*.opt
*.ipch
*.pdb
*.idb
*.res
*.tlog
*.lastbuildstate

# Ignore editor and IDE specific files
.vs/
.vscode
